/* Add your own CSS rules here */
#description {
  margin: 0 0 1em 0;
}

tei-teiHeader {
  display: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
  }

/* Add a black background color to the top navigation */
.topnav {
    background-color: #41572F;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #41572F;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #2F5557;
    color: white;
  }

  /* Add styling to h1 headings*/
    h1 {
        color: #2F5557;
        text-align: center;
        font-size: 45px;
        font-weight: 100;  
        font-family: Arial, Helvetica, sans-serif;

    }
    
    
  /* Add styling to h2 headings*/
  h2 {
    color: #2C524D;
    font-weight: 100;
}


  /* Add styling to h3 headings*/
  h3 {
    color: #2C524D;
    font-weight: 75;
}


